extends layout

block content
  h1= title
  p This is #{title}, give me a link down below and I'll give you a link right back.
  div( ng-controller="linkFeeding" )
    form( ng-submit="giveLink()" )
        input( type="text", placeholder="Link goes here", ng-model="linkGiven" )
        input( type="submit" )
    div( class="result", ng-show="linkResult" )
        h2 Here's your Link
        a( href="{{linkResult.url}}" ) {{linkResult.url}}
        p Hope you liked it! No refunds.
    div( class="result", ng-show="linkResultError" )
        h2 Oops, there was an error!
        span Looks like there was a {{linkResultError.status}} error, here are the details:
        p {{linkResultError.error.message}}