doctype html
html(ng-app="linksApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/vendors/angular/angular.js')
    script(type='text/javascript', src='/javascripts/main.js')